/Utils/BioradWriter.py
/Utils/ImageBlobTools.py
/Utils/__init__.py
/Utils/timeit.py
/Utils/tools.py
/VideoAnnotationEditor.py
/__init__.py
/pyforms/AutoForm.py
/pyforms/BaseWidget.py
/pyforms/Controls/ControlBase.py
/pyforms/Controls/ControlBoundingSlider.py
/pyforms/Controls/ControlButton.py
/pyforms/Controls/ControlCheckBox.py
/pyforms/Controls/ControlCheckBoxList.py
/pyforms/Controls/ControlCombo.py
/pyforms/Controls/ControlDir.py
/pyforms/Controls/ControlDockWidget.py
/pyforms/Controls/ControlEmptyWidget.py
/pyforms/Controls/ControlEventTimeline/ControlEventTimeline.py
/pyforms/Controls/ControlEventTimeline/TimelineDelta.py
/pyforms/Controls/ControlEventTimeline/TimelinePointer.py
/pyforms/Controls/ControlEventTimeline/TimelinePopupWindow.py
/pyforms/Controls/ControlEventTimeline/TimelinePopupWindow.ui
/pyforms/Controls/ControlEventTimeline/TimelineWidget.py
/pyforms/Controls/ControlEventTimeline/__init__.py
/pyforms/Controls/ControlFile.py
/pyforms/Controls/ControlFilesTree.py
/pyforms/Controls/ControlHidden.py
/pyforms/Controls/ControlImage.py
/pyforms/Controls/ControlList.py
/pyforms/Controls/ControlPlayer.py
/pyforms/Controls/ControlProgress.py
/pyforms/Controls/ControlSlider.py
/pyforms/Controls/ControlText.py
/pyforms/Controls/ControlTextArea.py
/pyforms/Controls/ControlVisVis.py
/pyforms/Controls/ControlVisVisVolume.py
/pyforms/Controls/OTParamToggle.py
/pyforms/Controls/__init__.py
/pyforms/Controls/button.ui
/pyforms/Controls/checkbox.ui
/pyforms/Controls/comboInput.ui
/pyforms/Controls/dbquery.ui
/pyforms/Controls/fileInput.ui
/pyforms/Controls/image.ui
/pyforms/Controls/list.ui
/pyforms/Controls/progressInput.ui
/pyforms/Controls/sliderInput.ui
/pyforms/Controls/textArea.ui
/pyforms/Controls/textInput.ui
/pyforms/Controls/tree.ui
/pyforms/Controls/uipics/control_pause.png
/pyforms/Controls/uipics/control_play.png
/pyforms/Controls/uipics/film.png
/pyforms/Controls/uipics/film_edit.png
/pyforms/Controls/uipics/page_white_get.png
/pyforms/Controls/uipics/page_white_put.png
/pyforms/Controls/uipics/zoom_in.png
/pyforms/Controls/uipics/zoom_out.png
/pyforms/Controls/video.ui
/pyforms/__init__.py
/pyforms/appmanager.py
/pyforms/qtforms/graphthumb.ui
/pyforms/qtforms/infothumb.ui
/pyforms/qtforms/login.ui
/pyforms/qtforms/mainWindow.ui
/pyforms/qtforms/paperthumb.ui
/pyforms/qtforms/resolutionthumb.ui
/pyforms/qtforms/scenethumb.ui
/pyforms/standaloneManager.py
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
