numpy
PyOpenGL
PyOpenGL_accelerate
send2trash
PyQt5
scipy
simplejson
git+https://bitbucket.org/fchampalimaud/logging-bootstrap.git
git+https://github.com/UmSenhorQualquer/pyforms.git
git+https://github.com/UmSenhorQualquer/pysettings.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/mcv-api.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/mcv-gui.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/geometry-designer.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-models.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-models-gui.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-backgroundfinder.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-backgroundfinder.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-contoursimages.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-createpaths.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-distances.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-eventsstats.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-importexport.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-motioncounter.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-patheditor.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-pathmap.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-regionsfilter.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-smoothpaths.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-timeline.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-tracking.git
git+https://UmSenhorQualquer@bitbucket.org/fchampalimaud/pythonvideoannotator-module-virtualobjectgenerator.git